<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2023 - 现在. LMY. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.mpms.mapper.FileMapper">

    <resultMap id="baseMap" type="FileInfo">
        <association property="type"
                     javaType="FileType"
                     column="type_id"
                     select="com.xiaolin.mpms.mapper.FileTypeMapper.getFileTypeById"/>
    </resultMap>

    <select id="getFileTotalNumWithPath" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM xl_file
        WHERE folder_id = (SELECT id FROM xl_file WHERE path = #{path})
        AND status = 1
        <if test="type!=null">
            AND type_id IN (SELECT id FROM xl_file_type WHERE pid = (SELECT id FROM xl_file_type WHERE name = #{type}))
        </if>
    </select>
    <select id="getFileListByPath" resultMap="baseMap">
        SELECT *
        FROM xl_file
        WHERE folder_id = (SELECT id FROM xl_file WHERE path = #{path})
        AND status = 1
        <if test="type!=null">
            AND type_id IN (SELECT id FROM xl_file_type WHERE pid = (SELECT id FROM xl_file_type WHERE name = #{type}))
        </if>
        ORDER BY id DESC
        LIMIT #{start}, #{size}
    </select>
    <select id="getFileTotalNumWithPid" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM xl_file
        WHERE folder_id = #{folderId}
        AND status = 1
        <if test="type!=null">
            AND type_id IN (SELECT id FROM xl_file_type WHERE pid = (SELECT id FROM xl_file_type WHERE name = #{type}))
        </if>
    </select>
    <select id="getFileListByFid" resultMap="baseMap">
        SELECT *
        FROM xl_file
        WHERE folder_id = #{folderId}
        AND status = 1
        <if test="type!=null">
            AND type_id IN (SELECT id FROM xl_file_type WHERE pid = (SELECT id FROM xl_file_type WHERE name = #{type}))
        </if>
        ORDER BY id DESC
        LIMIT #{start}, #{size}
    </select>
    <select id="getFileById" resultMap="baseMap">
        SELECT *
        FROM xl_file
        WHERE id = #{id}
          AND status = 1
    </select>
</mapper>
