<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2023 - 现在. LMY. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.mpms.mapper.FileTypeMapper">

    <resultMap id="baseMap" type="FileType">
        <association property="parent"
                     column="pid"
                     javaType="FileType"
                     select="getFileTypeById"/>
    </resultMap>

    <select id="getFileTypeByName" resultMap="baseMap">
        SELECT * FROM xl_file_type WHERE name = #{name}
    </select>
    <select id="getFileTypeById" resultMap="baseMap">
        SELECT * FROM xl_file_type WHERE id = #{id}
    </select>
</mapper>
