<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2023 - 现在. LMY. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.mpms.mapper.MediaTypeMapper">

    <resultMap id="baseMap" type="MediaType">
        <association property="parent"
                     column="pid"
                     javaType="MediaType"
                     select="getMediaTypeById"/>
    </resultMap>

    <select id="getMediaTypeByName" resultMap="baseMap">
        SELECT * FROM xl_media_type WHERE name = #{name}
    </select>
    <select id="getMediaTypeById" resultMap="baseMap">
        SELECT * FROM xl_media_type WHERE id = #{id}
    </select>
</mapper>
